
.env
/airflow-scd/logs
logs/
*.pyc
__pycache__/
/dbt_venv
/aws
awscliv2.zip
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfvars
terraform/.terraform/
terraform/terraform.tfstate.backup 

*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

terraform.tfvars
*.tfvars